{\rtf1\ansi\ansicpg1252\cocoartf2639
\cocoatextscaling0\cocoaplatform0{\fonttbl\f0\fnil\fcharset0 Menlo-Regular;}
{\colortbl;\red255\green255\blue255;\red255\green255\blue254;\red0\green0\blue0;\red107\green0\blue1;
\red251\green0\blue7;\red19\green118\blue70;}
{\*\expandedcolortbl;;\cssrgb\c100000\c100000\c99608;\cssrgb\c0\c0\c0;\cssrgb\c50196\c0\c0;
\cssrgb\c100000\c0\c0;\cssrgb\c3529\c52549\c34510;}
\paperw11900\paperh16840\margl1440\margr1440\vieww11520\viewh8400\viewkind0
\deftab720
\pard\pardeftab720\partightenfactor0

\f0\fs26 \cf0 \cb2 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec3 @\cf4 \strokec4 tailwind\cf0 \strokec3  \cf4 \strokec4 base\cf0 \strokec3 ;\cb1 \
\cb2 @\cf4 \strokec4 tailwind\cf0 \strokec3  \cf4 \strokec4 components\cf0 \strokec3 ;\cb1 \
\cb2 @\cf4 \strokec4 tailwind\cf0 \strokec3  \cf4 \strokec4 utilities\cf0 \strokec3 ;\cb1 \
\
\cb2 @\cf4 \strokec4 layer\cf0 \strokec3  \cf4 \strokec4 base\cf0 \strokec3  \{\cb1 \
\cb2   :root \{\cb1 \
\cb2     \cf5 \strokec5 --background:\cf0 \strokec3  \cf6 \strokec6 0\cf0 \strokec3  \cf6 \strokec6 0%\cf0 \strokec3  \cf6 \strokec6 100%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --foreground:\cf0 \strokec3  \cf6 \strokec6 0\cf0 \strokec3  \cf6 \strokec6 0%\cf0 \strokec3  \cf6 \strokec6 3.9%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --card:\cf0 \strokec3  \cf6 \strokec6 0\cf0 \strokec3  \cf6 \strokec6 0%\cf0 \strokec3  \cf6 \strokec6 100%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --card-foreground:\cf0 \strokec3  \cf6 \strokec6 0\cf0 \strokec3  \cf6 \strokec6 0%\cf0 \strokec3  \cf6 \strokec6 3.9%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --popover:\cf0 \strokec3  \cf6 \strokec6 0\cf0 \strokec3  \cf6 \strokec6 0%\cf0 \strokec3  \cf6 \strokec6 100%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --popover-foreground:\cf0 \strokec3  \cf6 \strokec6 0\cf0 \strokec3  \cf6 \strokec6 0%\cf0 \strokec3  \cf6 \strokec6 3.9%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --primary:\cf0 \strokec3  \cf6 \strokec6 0\cf0 \strokec3  \cf6 \strokec6 0%\cf0 \strokec3  \cf6 \strokec6 9%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --primary-foreground:\cf0 \strokec3  \cf6 \strokec6 0\cf0 \strokec3  \cf6 \strokec6 0%\cf0 \strokec3  \cf6 \strokec6 98%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --secondary:\cf0 \strokec3  \cf6 \strokec6 0\cf0 \strokec3  \cf6 \strokec6 0%\cf0 \strokec3  \cf6 \strokec6 96.1%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --secondary-foreground:\cf0 \strokec3  \cf6 \strokec6 0\cf0 \strokec3  \cf6 \strokec6 0%\cf0 \strokec3  \cf6 \strokec6 9%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --muted:\cf0 \strokec3  \cf6 \strokec6 0\cf0 \strokec3  \cf6 \strokec6 0%\cf0 \strokec3  \cf6 \strokec6 96.1%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --muted-foreground:\cf0 \strokec3  \cf6 \strokec6 0\cf0 \strokec3  \cf6 \strokec6 0%\cf0 \strokec3  \cf6 \strokec6 45.1%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --accent:\cf0 \strokec3  \cf6 \strokec6 0\cf0 \strokec3  \cf6 \strokec6 0%\cf0 \strokec3  \cf6 \strokec6 96.1%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --accent-foreground:\cf0 \strokec3  \cf6 \strokec6 0\cf0 \strokec3  \cf6 \strokec6 0%\cf0 \strokec3  \cf6 \strokec6 9%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --destructive:\cf0 \strokec3  \cf6 \strokec6 0\cf0 \strokec3  \cf6 \strokec6 84.2%\cf0 \strokec3  \cf6 \strokec6 60.2%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --destructive-foreground:\cf0 \strokec3  \cf6 \strokec6 0\cf0 \strokec3  \cf6 \strokec6 0%\cf0 \strokec3  \cf6 \strokec6 98%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --border:\cf0 \strokec3  \cf6 \strokec6 0\cf0 \strokec3  \cf6 \strokec6 0%\cf0 \strokec3  \cf6 \strokec6 89.8%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --input:\cf0 \strokec3  \cf6 \strokec6 0\cf0 \strokec3  \cf6 \strokec6 0%\cf0 \strokec3  \cf6 \strokec6 89.8%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --ring:\cf0 \strokec3  \cf6 \strokec6 0\cf0 \strokec3  \cf6 \strokec6 0%\cf0 \strokec3  \cf6 \strokec6 3.9%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --chart-1:\cf0 \strokec3  \cf6 \strokec6 12\cf0 \strokec3  \cf6 \strokec6 76%\cf0 \strokec3  \cf6 \strokec6 61%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --chart-2:\cf0 \strokec3  \cf6 \strokec6 173\cf0 \strokec3  \cf6 \strokec6 58%\cf0 \strokec3  \cf6 \strokec6 39%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --chart-3:\cf0 \strokec3  \cf6 \strokec6 197\cf0 \strokec3  \cf6 \strokec6 37%\cf0 \strokec3  \cf6 \strokec6 24%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --chart-4:\cf0 \strokec3  \cf6 \strokec6 43\cf0 \strokec3  \cf6 \strokec6 74%\cf0 \strokec3  \cf6 \strokec6 66%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --chart-5:\cf0 \strokec3  \cf6 \strokec6 27\cf0 \strokec3  \cf6 \strokec6 87%\cf0 \strokec3  \cf6 \strokec6 67%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --radius:\cf0 \strokec3  \cf6 \strokec6 0.5rem\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --sidebar-background:\cf0 \strokec3  \cf6 \strokec6 0\cf0 \strokec3  \cf6 \strokec6 0%\cf0 \strokec3  \cf6 \strokec6 98%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --sidebar-foreground:\cf0 \strokec3  \cf6 \strokec6 240\cf0 \strokec3  \cf6 \strokec6 5.3%\cf0 \strokec3  \cf6 \strokec6 26.1%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --sidebar-primary:\cf0 \strokec3  \cf6 \strokec6 240\cf0 \strokec3  \cf6 \strokec6 5.9%\cf0 \strokec3  \cf6 \strokec6 10%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --sidebar-primary-foreground:\cf0 \strokec3  \cf6 \strokec6 0\cf0 \strokec3  \cf6 \strokec6 0%\cf0 \strokec3  \cf6 \strokec6 98%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --sidebar-accent:\cf0 \strokec3  \cf6 \strokec6 240\cf0 \strokec3  \cf6 \strokec6 4.8%\cf0 \strokec3  \cf6 \strokec6 95.9%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --sidebar-accent-foreground:\cf0 \strokec3  \cf6 \strokec6 240\cf0 \strokec3  \cf6 \strokec6 5.9%\cf0 \strokec3  \cf6 \strokec6 10%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --sidebar-border:\cf0 \strokec3  \cf6 \strokec6 220\cf0 \strokec3  \cf6 \strokec6 13%\cf0 \strokec3  \cf6 \strokec6 91%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --sidebar-ring:\cf0 \strokec3  \cf6 \strokec6 217.2\cf0 \strokec3  \cf6 \strokec6 91.2%\cf0 \strokec3  \cf6 \strokec6 59.8%\cf0 \strokec3 ;\cb1 \
\cb2   \}\cb1 \
\
\cb2   \cf4 \strokec4 .dark\cf0 \strokec3  \{\cb1 \
\cb2     \cf5 \strokec5 --background:\cf0 \strokec3  \cf6 \strokec6 0\cf0 \strokec3  \cf6 \strokec6 0%\cf0 \strokec3  \cf6 \strokec6 3.9%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --foreground:\cf0 \strokec3  \cf6 \strokec6 0\cf0 \strokec3  \cf6 \strokec6 0%\cf0 \strokec3  \cf6 \strokec6 98%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --card:\cf0 \strokec3  \cf6 \strokec6 0\cf0 \strokec3  \cf6 \strokec6 0%\cf0 \strokec3  \cf6 \strokec6 3.9%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --card-foreground:\cf0 \strokec3  \cf6 \strokec6 0\cf0 \strokec3  \cf6 \strokec6 0%\cf0 \strokec3  \cf6 \strokec6 98%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --popover:\cf0 \strokec3  \cf6 \strokec6 0\cf0 \strokec3  \cf6 \strokec6 0%\cf0 \strokec3  \cf6 \strokec6 3.9%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --popover-foreground:\cf0 \strokec3  \cf6 \strokec6 0\cf0 \strokec3  \cf6 \strokec6 0%\cf0 \strokec3  \cf6 \strokec6 98%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --primary:\cf0 \strokec3  \cf6 \strokec6 0\cf0 \strokec3  \cf6 \strokec6 0%\cf0 \strokec3  \cf6 \strokec6 98%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --primary-foreground:\cf0 \strokec3  \cf6 \strokec6 0\cf0 \strokec3  \cf6 \strokec6 0%\cf0 \strokec3  \cf6 \strokec6 9%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --secondary:\cf0 \strokec3  \cf6 \strokec6 0\cf0 \strokec3  \cf6 \strokec6 0%\cf0 \strokec3  \cf6 \strokec6 14.9%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --secondary-foreground:\cf0 \strokec3  \cf6 \strokec6 0\cf0 \strokec3  \cf6 \strokec6 0%\cf0 \strokec3  \cf6 \strokec6 98%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --muted:\cf0 \strokec3  \cf6 \strokec6 0\cf0 \strokec3  \cf6 \strokec6 0%\cf0 \strokec3  \cf6 \strokec6 14.9%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --muted-foreground:\cf0 \strokec3  \cf6 \strokec6 0\cf0 \strokec3  \cf6 \strokec6 0%\cf0 \strokec3  \cf6 \strokec6 63.9%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --accent:\cf0 \strokec3  \cf6 \strokec6 0\cf0 \strokec3  \cf6 \strokec6 0%\cf0 \strokec3  \cf6 \strokec6 14.9%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --accent-foreground:\cf0 \strokec3  \cf6 \strokec6 0\cf0 \strokec3  \cf6 \strokec6 0%\cf0 \strokec3  \cf6 \strokec6 98%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --destructive:\cf0 \strokec3  \cf6 \strokec6 0\cf0 \strokec3  \cf6 \strokec6 62.8%\cf0 \strokec3  \cf6 \strokec6 30.6%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --destructive-foreground:\cf0 \strokec3  \cf6 \strokec6 0\cf0 \strokec3  \cf6 \strokec6 0%\cf0 \strokec3  \cf6 \strokec6 98%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --border:\cf0 \strokec3  \cf6 \strokec6 0\cf0 \strokec3  \cf6 \strokec6 0%\cf0 \strokec3  \cf6 \strokec6 14.9%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --input:\cf0 \strokec3  \cf6 \strokec6 0\cf0 \strokec3  \cf6 \strokec6 0%\cf0 \strokec3  \cf6 \strokec6 14.9%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --ring:\cf0 \strokec3  \cf6 \strokec6 0\cf0 \strokec3  \cf6 \strokec6 0%\cf0 \strokec3  \cf6 \strokec6 83.1%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --chart-1:\cf0 \strokec3  \cf6 \strokec6 220\cf0 \strokec3  \cf6 \strokec6 70%\cf0 \strokec3  \cf6 \strokec6 50%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --chart-2:\cf0 \strokec3  \cf6 \strokec6 160\cf0 \strokec3  \cf6 \strokec6 60%\cf0 \strokec3  \cf6 \strokec6 45%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --chart-3:\cf0 \strokec3  \cf6 \strokec6 30\cf0 \strokec3  \cf6 \strokec6 80%\cf0 \strokec3  \cf6 \strokec6 55%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --chart-4:\cf0 \strokec3  \cf6 \strokec6 280\cf0 \strokec3  \cf6 \strokec6 65%\cf0 \strokec3  \cf6 \strokec6 60%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --chart-5:\cf0 \strokec3  \cf6 \strokec6 340\cf0 \strokec3  \cf6 \strokec6 75%\cf0 \strokec3  \cf6 \strokec6 55%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --sidebar-background:\cf0 \strokec3  \cf6 \strokec6 240\cf0 \strokec3  \cf6 \strokec6 5.9%\cf0 \strokec3  \cf6 \strokec6 10%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --sidebar-foreground:\cf0 \strokec3  \cf6 \strokec6 240\cf0 \strokec3  \cf6 \strokec6 4.8%\cf0 \strokec3  \cf6 \strokec6 95.9%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --sidebar-primary:\cf0 \strokec3  \cf6 \strokec6 224.3\cf0 \strokec3  \cf6 \strokec6 76.3%\cf0 \strokec3  \cf6 \strokec6 48%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --sidebar-primary-foreground:\cf0 \strokec3  \cf6 \strokec6 0\cf0 \strokec3  \cf6 \strokec6 0%\cf0 \strokec3  \cf6 \strokec6 100%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --sidebar-accent:\cf0 \strokec3  \cf6 \strokec6 240\cf0 \strokec3  \cf6 \strokec6 3.7%\cf0 \strokec3  \cf6 \strokec6 15.9%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --sidebar-accent-foreground:\cf0 \strokec3  \cf6 \strokec6 240\cf0 \strokec3  \cf6 \strokec6 4.8%\cf0 \strokec3  \cf6 \strokec6 95.9%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --sidebar-border:\cf0 \strokec3  \cf6 \strokec6 240\cf0 \strokec3  \cf6 \strokec6 3.7%\cf0 \strokec3  \cf6 \strokec6 15.9%\cf0 \strokec3 ;\cb1 \
\cb2     \cf5 \strokec5 --sidebar-ring:\cf0 \strokec3  \cf6 \strokec6 217.2\cf0 \strokec3  \cf6 \strokec6 91.2%\cf0 \strokec3  \cf6 \strokec6 59.8%\cf0 \strokec3 ;\cb1 \
\cb2   \}\cb1 \
\cb2 \}\cb1 \
\
\
\
\cb2 @\cf4 \strokec4 layer\cf0 \strokec3  \cf4 \strokec4 base\cf0 \strokec3  \{\cb1 \
\cb2   * \{\cb1 \
\cb2     @apply border-border outline-ring/50;\cb1 \
\cb2   \}\cb1 \
\
\cb2   \cf4 \strokec4 body\cf0 \strokec3  \{\cb1 \
\cb2     @apply bg-background text-foreground;\cb1 \
\cb2   \}\cb1 \
\cb2 \}\cb1 \
}